/*
Author: Okoth Jeconia Auma
Project Name: Online Second Hand Books Purchase and Delivery System
Case Study: Kinuthia and Kinuthia Bookshop
Development Year: 2022
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: rgb(230, 230, 230);
}

.wrapper {
    width: 80%;
    padding: 2%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.clearfix {
    display: block;
    clear: both;
}

.btn-secondary{
    padding: 1% 6px;
    background-color: rgb(84, 201, 84);
    text-decoration: none;
    color: #fff;
    display: inline-block;
}

.btn-danger{
    padding: 1% 6px;
    background-color: #ff4757;
    text-decoration: none;
    color: #fff;
    display: inline-block;
}

.btn-add-to-cart{
    padding: 1% 6px;
    background-color: #ffa600;
    text-decoration: none;
    color: #fff;
    display: inline-block;
}

.btn-primary{
    padding: 4px 6px;
    background-color: steelblue;
    text-decoration: none;
    color: #fff;
    display: inline-block;
}

.tbl-100{
    width: 100%;
    padding: 1%;
}

.tbl-50{
    width: 50%;
    padding: 1%;
}

.tbl-100 th {
    text-align: left;
    border-bottom: 1px solid #000;
}

/*.tbl-100 td {
    padding: 0%;
}*/

.success {
    color: green;
}

.error {
    color: #ff4757;
}

/*start of header section*/
.header {
    width: 100vw;
    border-bottom: 1px solid #000;
}

.header .wrapper{
    padding: 0;
}

.header .logo, .header .menu {
    display: block;
    margin: 1%;
}

.header .menu ul{
    list-style-type: none;
}

.header .menu ul li {
    display: inline-block;
}

.header .menu ul li a:link,
.header .menu ul li a:visited{
    text-decoration: none;
    color:steelblue;
    transition: all .3s ease-in;
}

.header .menu ul li a:link:hover,
.header .menu ul li a:visited:hover {
    color: blue;
    font-weight: bold;
    text-decoration: underline;
}

/*end of header section*/

/*start of search section*/
.search {
    width: 100vw;
    background-color: rgb(130, 185, 230);
    padding: 1%;
}

.search form {
    width: 100%;
}

.search .wrapper form input {
    display: block;
    width: 100%;
    margin-bottom: .5em;
    outline: none;
    border: none;
    border-radius: 5px;
    height: 30px;
}

.search .wrapper form input[type="text"]{
    padding-left: .4em;
}

.search .wrapper form input[type="text"]:hover,
.search .wrapper form input[type="text"]:focus,
.search .wrapper form input[type="text"]:active{
    border: 2px solid blue;
}

.search .wrapper form input[type="submit"]{
    background-color: steelblue;
    color: white;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
}

.search .wrapper form input[type="submit"]:hover,
.search .wrapper form input[type="submit"]:active{
    background-color: rgb(33, 129, 219);
}

/*end of search section*/

/*category section*/
.category, .category .wrapper .category-items {
    width: 100%;
    display: block;
}

.category .wrapper .category-items a{
    border-radius: 12px;
    position: relative;
    margin: 1em;
}

.category-items a .category-title{
    position: absolute;
    width: 100%;
    bottom: 20px;
}

.category .wrapper .category-items a:focus,
.category .wrapper .category-items a:active,
.category .wrapper .category-items a:link,
.category .wrapper .category-items a:visited{
    width: 100%;
    border-radius: 12px;
    padding: 0;
    text-decoration: none;
    text-shadow: 0 0 12px black;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
}

.category .wrapper .category-items img{
    width: 100%;
    border-radius: 12px;
    padding: 0;
}
/*End of Category Section*/

/*Beginning of Book section*/
.book {
    padding: 1%;
    width: 100%;
}

.book form {
    width: fit-content;
    display: block;
}

.book form .image{
    width: 20%;
    border-radius: 4px;
    margin: 8px;
}

.book form .image img{
    border-radius: 8px;
    width: 100%;
}

.book form .book-details {
    width: 70%;
    margin: 8px;
    overflow: auto;
}

.book form .image, .book form .book-details{
    display: inline-block;
    margin: 8px;
}
/*End of Book section */

/*footer section*/
.footer {
    background-color: steelblue;
    color: white;
}

.footer .wrapper a:link,.footer .wrapper a:visited {
    color: #fff;
}

.footer .blocker {
    display: block;
    text-decoration: none;
}
/*end of footer section*/

@media only screen and (min-width: 760px){
    /*start of header section*/
    .header .logo {
        width: 30%;
        text-align: left;
        margin-left: 0;
    }

    .header .menu {
        width: 60%;
        height: 86px;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
    }

    .header .logo, .header .menu{
        float: left;
    }
    /*end of header section*/

    /*start of search section*/
    .search .wrapper form input[type="text"]{
        width: 70%;
    }

    .search .wrapper form input[type="submit"]{
        width: 20%;
    }

    .search .wrapper form input{
        display: inline-block;
    }
    /*end of search section*/

    /*Category Section*/
    .category .wrapper {
        width: 100%;
    }

    .category .wrapper .category-items {
        width: 28%;
        float: left;
        margin: 2.3%;
    }
    /*End of category Section*/

    /*Beginning of Book Section*/
    .book form {
        width: 40%;
        display: inline-block;
    }
    /*End of Book Section*/
}